.login {
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 2rem;
}

.login__container {
  margin-top: 5rem;
  margin-right: 5rem;
}
.login__cover {
  background: var(--color-bg);
  width: 30rem;
  height: 30rem;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 0.188rem 1.55rem var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.login__container-form,
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__form {
  margin-bottom: 2rem;
}

input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
}
.error-user {
  color: #bb2323;
  font-size: 1rem;
}
