.login__container {
  display: grid;
  grid-template-columns: 50% 35%;
  gap: 15%;
}

.login__image {
  width: 91%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}
.login__image-img {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}
.login__image-img:hover {
  transform: rotate(0);
}
.login__cover {
  background: var(--color-bg);
  width: 25rem;
  height: 30rem;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 0.188rem 1.55rem var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.login__container-form,
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__form {
  margin-bottom: 2rem;
}


.error-user {
  color: #bb2323;
  font-size: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                       MEDIA QUERIES (MEDIUM DEVICES)                       */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 1024px) {
  .login__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .login__image {
    display: none;
  }
  .login__container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* -------------------------------------------------------------------------- */
/*                        MEDIA QUERIES (SMALL DEVICES)                       */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 600px) {
  .login__cover {
    width: 20rem;
  }
}
